<template name="Home">
    <div class="content-page">
        <!-- Start content -->
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="page-title-box">
                            <h4 class="page-title">Dashboard</h4>
                            <ol class="breadcrumb p-0 m-0">
                            </ol>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <!-- end row -->

                <section class="content-display">
                    <!-- <div class="reminder-alert">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="alert alert-danger alert-dismissible fade in" role="alert">
                                    <div class="row">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        <div class="col-xs-11">
                                            <strong>Tax submissiom remainder: </strong>  Remember to settle VAT before September 14th, 2 days left for Submission <span> <a href="">Go to VAT Settlement</a></span>

                                        </div>
                                        <div class="col-xs-1">
                                            <div class="row">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> -->

                    <!-- <div class="row"> -->
                        <section class="content-display">
                            <div class="row">
                                    <div class="col-sm-12">
                                        <section class="">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="">
                                                        <div class="card-box">
                                                            <!-- <table class="tablesaw m-t-20 table table-striped" id="datatable-editable"> -->
                                                            <table class="tablesaw m-t-20 table table-striped" id="datatable-editable">
                                                                <thead>
                                                                <tr>
                                                                    <th>PAY ID</th>
                                                                    <th>File Date</th>
                                                                    <th>Amount</th>
                                                                    <th></th>
                                                                </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <!--<tr class="billing-header">
                                                                        <td>
                                                                            <div>
                                                                                <header>
                                                                                    <h4>September 2017</h4>
                                                                                </header>
                                                                            </div>
                                                                        </td>
                                                                    </tr>-->
            
                                                                    {{#each fillingsData}}
                                                                        {{#with getMonthAndYearOfMonthFillings this}}
                                                                            <tr class="billing-header">
                                                                                <td>
                                                                                    <div>
                                                                                        <header>
                                                                                            <h4>{{monthFullName}} {{year}}</h4>
                                                                                        </header>
                                                                                    </div>
                                                                                </td>
                                                                            </tr>
                                                                        {{/with}}
            
                                                                        {{#each this}}
                                                                            <tr>
                                                                                <td><div class="sp-dt"> <a href="">{{payId}}</a>   </div></td>
                                                                                <td><div class="sp-dt">{{formatDate fileDate}}</div></td>
                                                                                <td><div class="sp-dt text-nowrap">{{formatMoney amount 'NGN'}}</div></td>
                                                                                <td class="actions">
                                                                                    <a href="{{pathFor 'filling.detail' _id=_id }}" class="text-theme"><i class="mdi mdi-eye"></i> view</a>
                                                                                </td>
                                                                            </tr>
                                                                        {{/each}}
                                                                    {{/each}}
            
                                                                </tbody>
                                                            </table>
            
                                                            <div class="row">
                                                                {{#unless isFetchingData}}
                                                                    {{#if hasMoreFillings}}
                                                                        <div id="showMoreResults" href="#">&nbsp;</div>
                                                                    {{/if}}
                                                                {{else}}
                                                                {{/unless}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </section>
                                    <!-- end recent-bill-wrap-->
                                </div>
                            </div>
                        </section>
                    <!-- </div> -->
                </section>
            </div>
        </div>
    </div>
</template>
