<template name="DashboardBlank">
  <div class="dashboard-blank">
      <div class="content-page">
          <!-- Start content -->
          <div class="content">
              <div class="container">

                  <div class="row">
                      <div class="col-xs-12">

                          <div class="page-title-box">
                              <h4 class="page-title">Dashboard</h4>
                              <ol class="breadcrumb p-0 m-0">
                                  <!--<li>
                                                            <a href="#">Zircos</a>
                                                        </li>
                                                        <li>
                                                            <a href="#">Dashboard</a>
                                                        </li>
                                                        <li class="active">
                                                            Dashboard
                                                        </li>-->
                              </ol>
                              <div class="clearfix"></div>
                          </div>
                      </div>
                  </div>
                  <!-- end row -->





                  <section class="content-display">



                      <div class="row">
                          <div class="col-sm-12">


                              <section class="exempt-block-wrap">
                                  <div class="row exemptblock">

                                      <div class="col-sm-12">

                                          <div class="card-box">

                                              <div class="row">
                                                  <div class="col-sm-6 col-sm-offset-3">
                                                      <div class="row">
                                                          <div class="col-sm-12">

                                                              <!--table-->

                                                              <div class="">
                                                                  <div class="default-empty-placeholder">
                                                                      <div class="dummy-placeh">
                                                                          <img src="/images/useremptystateartfile.png" alt="">
                                                                          <h1>Manually File Tax</h1>
                                                                          <p>Your VAT filling isn't handled automatically Start now by filling manually
                                                                          </p>

                                                                      </div>
                                                                      <button class="btn waves-effect waves-light addexemptlist">Add Filling <i class="mdi mdi-cards"></i> </button>

                                                                  </div>
                                                              </div>

                                                              <!--table-->

                                                          </div>
                                                      </div>
                                                  </div>
                                              </div>

                                          </div>



                                      </div>




                                  </div>
                              </section>



                          </div>
                      </div>

                  </section>




              </div>
              <!-- container -->

          </div>
          <!-- content -->

          <footer class="footer text-right">
              2017 © Automated Tax System.
          </footer>

      </div>
  </div>
</template>
