<template name="Login">
    <!-- Homepage Main Section-->
    <div class="main">
        <section class="split-home">
            <section class="right-section">

                <div class="right-section-content">

                    <div class="main-logo">
                        <!--<a class="wow fadeIn" data-wow-delay="0.3s" href="#"><img src="assets/images/logo.png" width="35" height="35" alt="Logo" /></a>-->
                        <img src="/images/firs-logo.png" alt="user-img" class="" style="width:20%">
                    </div>

                    <div class="form-holder">

                        <div class="welcome">
                            <h3>Welcome Back</h3>
                            <p>Enter your sign in details below</p>
                        </div>

                        <form>
                            <span class="help-block hidden-nerr"></span>

                            <div class="form-group">
                                <label for="exampleInputEmail1">Company ID:</label>
                                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="" required>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Password:</label>
                                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="" required>

                                <div class="">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="checkbox checkbox-info">
                                                <input id="checkbox4" type="checkbox">
                                                <label for="checkbox4">Remember me</label>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 m-pass">
                                            <p class=pull-right>Forgot Password?</p>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="row signin-block">


                                <div class="col-sm-6">

                                    <button type="submit" class="btn sign-btn">Sign in<div class="blah">
                                        <div class="lds-css">
                                            <div class="lds-default">
                                                <div></div>
                                                <div></div>
                                                <div></div>
                                                <div></div>
                                                <div></div>
                                                <div></div>
                                                <div></div>
                                                <div></div>
                                                <div></div>
                                                <div></div>
                                                <div></div>
                                                <div></div>
                                            </div>
                                        </div>
                                    </div></button>


                                </div>

                                <div class="col-sm-6">
                                    <p>To start using tax, you'll need to be invited by your organization's <span class="bleu">Administrator</span></p>
                                </div>
                            </div>

                        </form>



                        <div class="footnote">
                            <div class="dot-line"></div>
                            <p class="text-center">By signing in I acknowledge that I have read and understand the <span class="bleu">terms and conditions </span> when using tax system</p>

                        </div>

                    </div>

                </div>



            </section>
            <section class="left-section personal wow fadeIn" data-wow-delay="0.2s">

                <div class="login-intro-banner-info">
                    <h4 class="login-intro-banner-info-heading">work <span class="write"></span></h4>
                    <h4>Automated tax system.</h4>
                    <div class="more-note">
                        <p class="subtxt">
                            One complete end-to-end automated tax resolution software. fast, easy & secure tax filing solution.
                        </p>
                    </div>
                </div>

            </section>

        </section>
    </div>

</template>
